{% extends "layout.html" %}

{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Добавить нового аспиранта для отслеживания прогресса</h1>

    <form action="/add_asp" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="Name" id="Name" aria-describedby="gradeHelp"
                   placeholder="Имя">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Surname" id="Surname" aria-describedby="gradeHelp"
                   placeholder="Фамилия">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Patronymic" id="Patronymic" aria-describedby="gradeHelp"
                   placeholder="Отчество">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="GroupNumber" id="GroupNumber" aria-describedby="gradeHelp"
                   placeholder="Группа">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Year" id="Year" aria-describedby="gradeHelp"
                   placeholder="Год поступления">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Email" id="Email" aria-describedby="gradeHelp"
                   placeholder="E-mail">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Login" id="Login" aria-describedby="gradeHelp"
                   placeholder="Login">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="Pass" id="Pass" aria-describedby="gradeHelp"
                   placeholder="Password">
        </div>

        <button type="submit" class="btn btn-lg btn-secondary">Добавить!</button>

    </form>
</main>
{% endblock %}
