{% extends "layout.html" %}

{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Просмотр успехов</h1>

    <form action="/" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="UrlInput" id="UrlInput" aria-describedby="gradeHelp"
                   placeholder="Your URL">
        </div>

        <button type="submit" class="btn btn-lg btn-secondary">Cut!</button>

        {% if tiny_url %}
        <p class="lead">New url is</p>
        <a href={{tiny_url}}>{{tiny_url}}</a>
        {% endif %}
    </form>
</main>
{% endblock %}
